<h1>Settings</h1>
<form #settingsForm="ngForm">

  <div class="form-group">
    <label for="api_key">Google Sheets API key</label>
    <input type="text" class="form-control" id="api_key"
           required
           [(ngModel)]="settings.googleSheetsApiKey" name="api_key">
  </div>

  <div class="form-group">
    <label for="spreadsheet_id">spreadsheet ID</label>
    <input type="text" class="form-control" id="spreadsheet_id"
           required
           [(ngModel)]="settings.spreadsheetId" name="spreadsheet_id">
  </div>

</form>
